<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          MCAST Prospectus
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
      <ion-item 
          *ngFor="let institute of institutes"
          [ngStyle]="{ 'color' : institute.color }"
          [routerLink]="[ '/', 'institute', institute.code] ">

          {{ prospectusService.getInstituteName(institute) }}
      </ion-item>
  </ion-list>
</ion-content>

<!-- 
<div class="center">
  <img src='assets/images/ProfilePic.png' alt="Home Profile Pic"/>
  <h1>Welcome Nicholai!</h1>
</div> -->
