<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src='assets/images/event1.jpg' alt="event"/>
      <h2>Parade</h2>
      <h1>Medieval theme</h1>

      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>  

      <p>
        Mosta - Valletta
      </p> 

      <p>
        9AM Onwards
      </p> 
  </ion-slide>

  <ion-slide>
    <img src='assets/images/event1.jpg' alt="event"/>
      <h2>Parade</h2>
      <h1>Medieval theme</h1>

      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>  

      <p>
        Mosta - Valletta
      </p> 

      <p>
        9AM Onwards
      </p> 
  </ion-slide>

  <ion-slide>
    <img src='assets/images/event1.jpg' alt="event"/>
      <h2>Parade</h2>
      <h1>Medieval theme</h1>

      <p>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </p>  

      <p>
        Mosta - Valletta
      </p> 

      <p>
        9AM Onwards
      </p> 
  </ion-slide>

</ion-slides>
