<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
      <h2>Mcast Contacts</h2>
      <h1>Phone/Telephone Numbers</h1>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

      <p>
        MCAST Main reception - +356 23987100
      </p>

  </ion-slide>

  <ion-slide>
    <h2>Opening Hours</h2>
    <p>
      Summer: From 1st of July for a period of 10 weeks 
    </p>

    <p>
      Summer: From 1st of July for a period of 10 weeks 
    </p>

    <p>
      MCAST Main reception - +356 23987100
    </p>

    <h1>
      MG2i / Part Time Courses Office Opening
    </h1>

    <p>
      9.00am - 12.30pm
    </p>

    <p>
      MCAST Main reception - +356 23987100
    </p>

    <p>
      MCAST Main reception - +356 23987100
    </p>

    <p>
      MCAST Main reception - +356 23987100
    </p>

</ion-slide>
  

</ion-slides>
