<ion-content [scrollEvents] = "true">
  <ion-card (click)="navigateToCoursesPage()">
    <ion-card-header>
      <img src='assets/images/mcast2.jpg' alt="Mcast2"/>
      <ion-card-subtitle>Study Units</ion-card-subtitle>
      <ion-card-title>Courses</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)="navigateToInstitutesPage()">
    <ion-card-header>
      <img src='assets/images/mcast1.jpg' alt="Mcast1"/>
      <ion-card-subtitle>Different environments</ion-card-subtitle>
      <ion-card-title>Institutes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToAboutPage()">
    <ion-card-header>
      <img src='assets/images/mcast5.jpg' alt="Mcast5"/>
      <ion-card-subtitle>Learn more about the company</ion-card-subtitle>
      <ion-card-title>About Mcast</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToEventsPage()">
    <ion-card-header>
      <img src='assets/images/mcast3.jpg' alt="Mcast3"/>
      <ion-card-subtitle>Different activities</ion-card-subtitle>
      <ion-card-title>Events</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToContactPage()">
    <ion-card-header>
      <img src='assets/images/mcast4.jpg' alt="Mcast4"/>
      <ion-card-subtitle>Tech Support</ion-card-subtitle>
      <ion-card-title>Contacts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>



