ion-slide{
    padding: 160px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    h2{
        font-size: 34px;
        font-weight: bold;
    }

    img{
        height:200px;
    }

    


}
ion-label{
      
}

ion-toggle{
    position: absolute;
    left:300px;
    top:5px;
}

.title{
    font-weight: bold;
    font-size: large;
}
